@charset "utf-8";

header {
    width:200px;
    height:200px;
    border-color:chocolate;
}

#Header-Design {
    list-style:none;
    overflow:hidden;
}

#Header-Desigh li {
    width:140px;
    text-align:center;
    float:left;
    margin-right:2px;
}

#Header-Design li a {
    text-decoration:none;
    color:aquamarine;
    font-weight:bold;
    padding:20px;
}

