@charset "utf-8";

#Header-Design {
    list-style:none;
}

#Header-Design li {
    width:140px;
    text-align:center;
    display:inline-block;
}

#Header-Design li a {
    text-decoration:none;
    color:darkslategrey;
    font-weight:bold;
}

section {
    width: 500px;
    height:500px;
    margin-left:10px;
    display:inline-block;
    border-color:darkcyan;
}

footer {
    border-style:solid;
    border-color:bisque;
    padding:20px;
}