@charset "utf-8";

header {
    width: 100%;
    height: 100px;
    background-color:coral;
}

#Header-Design {
    list-style:none;
}

#Header-Design li {
    width:140px;
    text-align:center;
    display:inline-block;
    padding:10px;
}

#Header-Design li a {
    text-decoration:none;
    color:darkslategrey;
    font-weight:bold;
}

section {
    width: 100px;
    height:100px;
    margin-left:10px;
    border-color:black;
}

#content1 {
    width:200px;
    display:inline-block;
}

#content2 {
    width:200px;
    display:inline-block;
}

footer {
    border-style:solid;
    border-color:bisque;
    padding:20px;
}
